<!doctype html>
<html lang="en">
  <head>
    <title>BADM - Get Involved</title>
    <!--(bake header.html)-->
  </head>
  <body>

    <section class="banner">
      <div class="kai-landscape img">
        <!--(bake navbar.html active="get-involved")-->
        <div class="row text-center banner-text">
            <div class="col-sm-offset-1 col-sm-3">
              <h1>Become part of a movement.</h1>
            </div>
        </div>
      </div>
    </section>

    <div class="container">
      <section class="section">

        <p class="lead push-top text-justify">
          It's easy to get involved! BADM is looking for volunteers, dancers, sponsors, bands, musicians, donations, and silent auction items for the 1st Annual Bay Area Dance Marathon and other fundraising events.
        </p>
        <p class="lead push-top text-justify">
          <a href="mailto:cmnhdancemarathon@gmail.com">Contact us</a> to let us know how you would like to get involved. We'd love to hear from you!
        </p>


        <div class="row">
          <div class="col-sm-6 text-justify">
            <h1 class="text-center text-red">
      				<span class="icon-shoes">
      				</span>
              Dance
            </h1>
            <div>
              <p class="text-justify">
                Buy a ticket or register to fundraise for our amazing Bay Area Dance Marathon Fall event! Sign up to save lives <a href="https://events.dancemarathon.com/event/bayareaDM/">here.</a>
              </p>
            </div>
          </div>

          <div class="col-sm-6 text-justify">
            <h1 class="text-center text-purple">
              <span class="icon-committee"></span>
              Join a Committee
            </h1>
            <div>
              <p class="text-justify">
                Are you interested in
                getting more involved in the production of this amazing event? Contact
                us at <a href="mailto:cmnhdancemarathon@gmail.com">cmnhdancemarathon@gmail.com</a>. No previous Dance
                Marathon experience necessary!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 text-justify">
            <h1 class="text-center text-blue">
              <span class="icon-banknote"></span>
              Donate
            </h1>
            <div>
              <p class="text-justify">
                Monetary donations are always welcome and much needed! You can donate in the following ways:
              </p>
              <ol>
                <li>Donate Online</li>
                <li>Support a BADM Dancer</li>
                <li>Mail your check (made payable to UCSF Benioff Children’s Hospital Oakland):
                  <address class="benioff-address">
                    <strong>UCSF Benioff Children’s Hospital Oakland</strong><br>
                    Attention: Dance Marathon<br>
                    2201 Broadway, Suite 600<br>
                    Oakland, CA 94612
                  </address>
                </li>
              </ol>
              <i>All donations are tax deductible. UCSF Benioff Children’s Hospital Oakland’s tax identification number is 94-1657474.</i>
            </div>
          </div>

          <div class="col-sm-6">
            <h1 class="text-center text-orange">
              <span class="icon-shirt"></span>
              Sponsors
            </h1>
            <p class="text-justify">
              We're always looking for new sponsors and partners to support our event. If you're interested in helping please reach out to us at <a href="mailto:cmnhdancemarathon@gmail.com">cmnhdancemarathon@gmail.com</a>.
            </p>
          </div>

        </div>

      </section>
    </div>
    <!--(bake footer.html)-->
  </body>
</html>

