<!doctype html>
<html lang="en">
  <head>
    <title>BADM - Get Involved</title>
    <!--(bake header.html)-->
  </head>
  <body>

    <section class="banner">
      <div class="kai-landscape img">
        <!--(bake navbar.html active="get-involved")-->
        <div class="row text-center banner-text">
            <div class="col-sm-offset-1 col-sm-3">
              <h1>Become part of a movement.</h1>
            </div>
        </div>
      </div>
    </section>

    <div class="container">
      <section class="section">

        <p class="lead push-top">
          Something about how we're always looking to get people involved.
        </p>


        <div class="row">
          <div class="col-sm-6 text-justify">
            <h1 class="text-center text-red">
      				<span class="icon-heart">
      				</span>
              Dance
            </h1>
            <div class="js-long-text text-child-life">
              <p class="text-justify">
                Participate in our 6 hour life changing event. Something about creating a team. Something about a Dance Party. Click here to register to dance. (Link to form)
              </p>
            </div>
          </div>

          <div class="col-sm-6 text-justify">
            <h1 class="text-center text-purple">
              <span class="icon-research"></span>
              Join a Committee
            </h1>
            <div class="js-long-text text-research">
              <p class="text-justify">
                We are always looking for people to help plan the event. Something about joining one of our teams. Click here if you're interested. (Link to form)
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--(bake footer.html)-->
  </body>
</html>

