<!doctype html>
<html lang="en">
  <head>
    <title>Bay Area Dance Marathon</title>
    <!--(bake header.html)-->
  </head>
  <body>
    <!--(bake navbar.html active="home")-->

    <section class="header header-background img">
      <div class="header-text">
          <h1>BAY AREA DANCE MARATHON</h1>
          <i>Young professionals on a mission</i>
          <div class="social-links">
            <i class="social-link fa fa-facebook"></i>
            <i class="social-link fa fa-twitter"></i>
          </div>
      </div>
    </section>

    <section class="container we-are">
      <div class="col-sm-offset-3 col-sm-6">
        <p class="lead text-center">
          <strong>We are Bay Area Dance Marathon.</strong><br />
          We’re here to raise funds and awareness for UCSF Benioff Children’s Hospital Oakland, a Children’s Miracle Network Hospital.
        </p>
      </div>
    </section>


    <section class="bay-bash">
      <div class="col-sm-offset-3 col-sm-6">
        <h1>Bay Bash</h1>
        We're throwing a gala. All proceeds benefit UCSF Benioff Children's Hospital Oakland. You in?
        <div class="line line-yellow"></div><br />
        <button class="btn btn-outline">Learn More</button>
      </div>
    </section>


    <section class="img about purple-girl">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-3">
            <h2>The Kids</h2>
              100% of the funds raised by Bay Area Dance Marathon benefit Children’s Hospital Oakland.
              Those funds ensure the hospital provides the finest level of pediatric care to all children in our region - regardless of a family’s ability to pay.
          </div>
          <div class="col-sm-3">
            <h2>The Hospital</h2>
              Children’s Hospital Oakland serves over 200,000 kids each year.
              50,000 come through the hospital’s emergency room, the only Level 1 Pediatric Trauma Center in the Bay Area.
              The hospital provides over $9 million in charity care every year.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <form class="form-inline sign-up">
              <div class="form-group">
                <label class="sign-up">Sign up to get involved</label>
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email" />
              </div>
              <button type="submit" class="btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>


    </div> <!-- /.container -->
    <!--(bake footer.html)-->
  </body>
</html>

