<!doctype html>
<html lang="en">
  <head>
    <title>Bay Area Dance Marathon</title>
    <!--(bake header.html)-->
  </head>
  <body>

    <section class="banner">
      <div class="kaleiya-bubble img">
        <!--(bake navbar.html active="home")-->
        <div class="row text-center banner-text">
            <div class="col-sm-offset-1 col-sm-3">
              <h1>What do you stand for?</h1>
            </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="lead text-justify push-top">
            This fall, Bay Area Dance Marathon will be holding the first ever
            Dance Marathon-inspired Bay Bash. Join Bay Area young professionals and
            philanthropists for a night of dancing, cocktails and hors d’oeuvres at
            the Children’s Creativity Museum in San Francisco on Saturday, October
            24th. This inaugural event will be the first of many celebrations
            recognizing the miracles performed daily at UCSF Benioff Children’s
            Hospital Oakland, your local Children’s Miracle Network hospital. If
            you’re interested in getting involved or buying tickets click
            <a href="/get-involved.html">here.</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-justify">
          <h1 class="text-center text-red">
    				<span class="icon-balloon-color">
      				<span class="path1"></span><span class="path2"></span>
    				</span><span class="visible-lg-inline">Children's Miracle Network</span><span class="hidden-lg">CMNH</span>
          </h1>
          <p class="text-justify">
            Children’s Miracle Network Hospitals began in 1983 in Salt Lake City, UT as a small television fundraiser in Provo, Utah, and has grown to become the world’s leading children’s charity,
            raising more than $2.2 billion for the 170 pediatric hospitals in its international alliance.
            Most of the funds have been donated $1 at a time through the sale of paper Miracle Balloons at corporate sponsors like Costco, Wal-Mart and Rite Aid, which have contributed more than
            $300 million to the Children’s Miracle Network Hospitals’ national program.<br />
            For more information about CMNH visit <a href="http://cmn.org">cmn.org</a>.
          </p>
        </div>

        <div class="col-sm-6">
          <h1 class="text-center text-blue">
            <span class="icon-hospital-people">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
            </span><span class="visible-lg-inline">UCSF Benioff Children's</span><span class="hidden-lg">UBCHO</span>
          </h1>
          <p class="text-justify">
For over 100 years, UCSF Benioff Children's Hospital Oakland has been delivering exceptional medical care to children from all regions of California. Caring for children is our number one priority, from routine check-ups and immunizations to the treatment of life-threatening injuries and illness. At Benioff Children's Hospital Oakland we stand by our mission; to protect and advance the health and well-being of children through clinical care, teaching and research.<br />
          For more information about UCSF Benioff Children’s Hospital Oakland visit <a href="http://childrenshospitaloakland.org">childrenshospitaloakland.org</a>.
          </p>
        </div>
      </div>

    </div> <!-- /.container -->
    <!--(bake footer.html)-->
  </body>
</html>

