<!doctype html>
<html lang="en">
  <head>
    <title>Bay Area Dance Marathon</title>
    <!--(bake header.html)-->
  </head>
  <body>
    <section class="banner">
      <div class="nate img">
        <!--(bake navbar.html active="home")-->
        <div class="row banner-form">
            <div class="col-sm-offset-1 col-sm-2">
              <h1 class="banner-text">Are you in?</h1>
              <div class="triangle-up-right triangle-yellow"></div>
              <form>
                <input class="form-control header-form-control" placeholder="Name" id="collect-name" />
                <input class="form-control header-form-control" placeholder="Email" id="collect-email" />
              </form>
              <button type="submit" class="btn btn-small btn-red">Submit</button>
            </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="lead text-justify">
              We are <strong class="text-red">Bay</strong> <strong class="text-purple">Area</strong> <strong class="text-blue">Dance</strong> <strong class="text-green">Marathon</strong>, and we’re on a mission to raise funds and awareness for UCSF Benioff Children’s Hospital Oakland,
              a Children’s Miracle Network Hospital. We seek to engage young professionals with the cause through awareness and fundraising events
              which will culminate in our annual Bay Bash celebration.
          </p>
        </div>
      </div>

    </div>

    <div class="kai-banner img">
    </div>


    <div class="container">

      <div class="row">
        <div class="col-sm-6 text-justify">
          <h1 class="text-center text-red">
    				<span class="icon-balloon-color">
      				<span class="path1"></span><span class="path2"></span>
    				</span><span class="visible-lg-inline">Children's Miracle Network</span><span class="hidden-lg">CMNH</span>
          </h1>
          <p class="text-justify">
            Children’s Miracle Network Hospitals began in 1983 in Salt Lake City, UT as a small television fundraiser in Provo, Utah, and has grown to become the world’s leading children’s charity,
            raising more than $2.2 billion for the 170 pediatric hospitals in its international alliance.
            Most of the funds have been donated $1 at a time through the sale of paper Miracle Balloons at corporate sponsors like Costco, Wal-Mart and Rite Aid, which have contributed more than
            $300 million to the Children’s Miracle Network Hospitals’ national program.<br />
            For more information about CMNH visit <a href="http://cmn.org">cmn.org</a>.
          </p>
        </div>

        <div class="col-sm-6">
          <h1 class="text-center text-blue">
            <span class="icon-hospital-people">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
            </span><span class="visible-lg-inline">UCSF Benioff Children's</span><span class="hidden-lg">UBCHO</span>
          </h1>
          <p class="text-justify">
For over 100 years, UCSF Benioff Children's Hospital Oakland has been delivering exceptional medical care to children from all regions of California. Caring for children is our number one priority, from routine check-ups and immunizations to the treatment of life-threatening injuries and illness. At Benioff Children's Hospital Oakland we stand by our mission; to protect and advance the health and well-being of children through clinical care, teaching and research.<br />
          For more information about UCSF Benioff Children’s Hospital Oakland visit <a href="http://childrenshospitaloakland.org">childrenshospitaloakland.org</a>.
          </p>
        </div>
      </div>

    </div> <!-- /.container -->
    <!--(bake footer.html)-->
  </body>
</html>

