<nav class="nav navbar-default" id="nav" data-active="{{active}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-5 hidden-xs">
        <a href="/">
          <img class="nav-logo" src="assets/images/combined-logo-white.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-sm-8 col-md-7 navbar-container">
        <ul class="navbar-links">
          <li>
            <a href="/" id="home">
              Home
            </a>
          </li>
          <li>
            <a href="http://donordrive.com" id="donate">
              Donate
            </a>
          </li>
          <li>
            <a href="/get-involved.html" id="get-involved">
              Get Involved
            </a>
          </li>
          <li>
            <a href="/funds.html" id="funds">
              CMNH Funds
            </a>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
