.about-text {
  display:block!important;
  margin:0 0 20px 0;
}

.about-body {
  min-height:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.support-icons {
  font-size: 3.5em;
}

.support-icon {
  min-width: 200px;
  min-height:60px;
  display:inline-block;
}

