.bay-bash {
  background-color:#383935;
  color:white;
  min-height:37vh;
  padding:50px 0;
}

.bay-bash .icon-BB {
  font-size:10em;
  display: inline-block;
}

.bay-bash-body {
  font-size: 1em;
  display:block;
  margin: 10px;
  line-height:30px;
}

.btn-outline {
  background:none;
  border-radius:0;
  border:1px solid white;
  width:33%;
  padding:20px;
  text-align: center;
  text-transform: uppercase;
  color:white;
  outline: none;
}

.btn-outline:visited, .btn-outline:active, .btn-outline:focus {
  color:white;
  outline: none;
}

.btn-outline:hover {
  color:@yellow;
  border:1px solid @yellow;
  .m-transition(0.5s);
}


.line {
  width:20%;
  height:1px;
  display:inline-block;
  margin:20px 0;
}

.line-yellow {
  background: @yellow;
}
