.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  display:block;
  background-repeat: no-repeat;
  opacity:0.8;
}


.kai {
  background-image: url("/assets/images/kai-portrait.jpg");
}

.kai-landscape {
  background-image: url("/assets/images/kai-landscape.jpg");
}

.kaleiya-bubble {
  background-image: url("/assets/images/kaleiya-bubble.jpg");
}

.sleeping-baby {
  background-image: url("/assets/images/sleeping-baby.jpg");
}

.social-services {
  background-image: url("/assets/images/social-services.jpg");
}


/*
// handheld media queries
// portrait
@media handheld and (orientation: portrait) {
  .logo-vertical {
    display:inline-block!important;
  }
  .logo-landscape {
    width:80%;
    margin: 2% 0 0 0;
    display:none!important;
  }
}

// landscape
@media handheld and (orientation: landscape) {
  .logo-vertical {
    display:none!important;
  }
  .logo-landscape {
    display:inline-block!important;
  }
}
*/
