.img {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;

  height:55%;
  min-height:500px;
  max-height:585px;
  width:100%;

  display:flex;
}

.header-background {
  background-image: url("/assets/images/header.jpg");
}

.purple-girl {
  background-image: url("/assets/images/purple-girl.jpg");
}
