@media(max-width:768px) {

  .banner-text {
    padding:0;
  }
  .banner-text h1 {
    font-size:30px;

  }
  .navbar-container {
    width:100%;
    padding:0;
  }
  .navbar-links {
    margin:10px auto;
    text-align: center;
    display: table;
  }

  .navbar-links li {
    padding:0;
    display: table-cell;
  }
}


@media(max-width: 768px) {
  .img,
  .banner {
    height:33vh;
    position:relative;
  }
  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .banner-text h1 {
    font-size:28px;
  }
}
/*
@media(max-width: 550px) {
  .img,
  .banner {
    height:20vh;
    position:relative;
  }
}

// iPhone media queries
// portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 966px)
and (orientation : portrait) {
  .img,
  .banner {
    height:33vh;
    position:relative;
  }
  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .banner-text h1 {
    font-size:26px;
  }
  .navbar-links li {
    border-left:1px solid white;
  }
  .navbar-links li:first-child {
    border:none;
  }
}

// landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 966px)
and (orientation : landscape) {

  .banner {
    position:relative;
  }

  .img,
  .banner {
    height:100vh;
  }

  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .text-child-life {
    max-height:65px;
  }

  .text-charity-care {
    max-height:105px;
  }

  .text-research {
    max-height:65px;
  }

  .text-social-services {
    max-height:105px;
  }

}
*/
