//
// Navbar
// --------------------------------------------------

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom:20px;
}

ul {
  padding:0;
}

.navbar-default {
  color: white;
  background: @red;
  width:100%;
  height:100px;
}


.nav-logo {
  height:@navbar-height;
  padding: 10px 0;
  float:left;
}

.nav-title {
  font-size:2.1em;
  margin:27px 30px;
  float:left;
}

.navbar-links {
  width: 100%;
  height:@navbar-height;
  display:block;
  list-style:none;

}

.navbar-links li {
  display: inline-block;
  font-size: 1.5em;
  margin:35px 0 0 40px;
}


// banner form section

.banner-text {
  background: @yellow;
  color:white;
  padding:10px;
  width:205px;
  margin:0;
}


// triangle
.triangle-up-right {
  width: 0;
  height: 0;
  padding-left:10%;
  padding-top: 10%;
  overflow: hidden;
  margin:0;
}
.triangle-up-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left:-500px;
  margin-top:-500px;

  border-left: 500px solid transparent;
}

.triangle-yellow:after {
  border-top: 500px solid @yellow;
}

.triangle-red:after {
  border-top: 500px solid @red;
}


.header-form-control {
  border: none;
  border-radius:0;
  margin:20px 0;
}

.btn {
  color:white;
  font-size:1.5em;
}

.btn-red {
  background-color:@red;
}


.banner-form {
  margin-top:5%;
}


.benioff-address {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size:13px;
  margin:10px 0 0 10px;
}


.social-media li {
  font-size:25px;
}

.navbar-default a,
.navbar-default a:visited,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
  color:white!important;
}


.large-text {
  font-weight:100;
  font-size:2.5vh;
}

.text-middle {
  display: table-cell;
  vertical-align: middle;
  height:100%;
}

.indented-list {
  margin-left:10%;
}

.push-top {
  margin-top:3%;
}

.text-child-life {
  max-height:80px;
}

.text-charity-care {
  max-height:120px;
}

.text-research {
  max-height:80px;
}

.text-social-services {
  max-height:120px;
}

a.active {
  text-decoration: underline;
}

.long-text {
  overflow:hidden;
}

@media(max-width:768px) {

  .banner-text {
    padding:0;
  }
  .banner-text h1 {
    font-size:30px;

  }
  .navbar-container {
    width:100%;
    padding:0;
  }
  .navbar-links {
    margin:10px auto;
    text-align: center;
    display: table;
  }

  .navbar-links li {
    padding:0;
    display: table-cell;
  }
}


@media(min-width:768px) {
  .img {
    background-position:100% 50%;
    height:50vh;
  }
  .banner {
    height:50vh;
  }
}

@media(max-width: 768px) {
  .img,
  .banner {
    height:33vh;
    position:relative;
  }
  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .banner-text h1 {
    font-size:28px;
  }
}
@media(max-width: 550px) {
  .img,
  .banner {
    height:20vh;
    position:relative;
  }
}

// iPhone media queries
// portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 966px)
and (orientation : portrait) {
  .img,
  .banner {
    height:33vh;
    position:relative;
  }
  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .banner-text h1 {
    font-size:26px;
  }
  .navbar-links li {
    border-left:1px solid white;
  }
  .navbar-links li:first-child {
    border:none;
  }
}

// landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 966px)
and (orientation : landscape) {

  .banner {
    position:relative;
  }

  .img,
  .banner {
    height:100vh;
  }

  .banner-text {
    position:absolute;
    width:100%;
    margin-left:-50%;
    left:50%;
    bottom:0;
  }
  .text-child-life {
    max-height:65px;
  }

  .text-charity-care {
    max-height:105px;
  }

  .text-research {
    max-height:65px;
  }

  .text-social-services {
    max-height:105px;
  }

}
