//
// Navbar
// --------------------------------------------------

body {
  font-family: "Avenir", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GothamBook', "Helvetica", sans-serif;
  font-weight: bold;
}

.nav-logo {
  max-height: 100%;
  max-width: 100%%;
  padding: 10px 0;
}

.navbar-default {
  color: white;
  background-color:@purple;
  width:100%;
}

.navbar-links {
    margin: 70px 0 0 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.navbar-links li {
    display: inline-block;
    padding-left:23px;
    font-size: 18px;
}

.navbar-default a,
.navbar-default a:visited,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
  color:white!important;
}

.navbar-default .navbar-toggle {
  border-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color:@light-blue;
}

.active,
.navbar-default .navbar-nav > .active > a{
  background-color: @purple;
  font-size: 1.6em;
}

.sticky {
  top:0;
}

.full-section {
  min-height:100vh;
  width:100%;
}

.part-section {
  height:calc(100vh - 100px);
  width:100%;
}


.logo-img {
  max-width:100%;
  max-height:100%;
  position: relative;
  top: 50%;
  .m-translateY(-50%);
}

.section {
  padding:50px 0;
}

.section-blue {
  background-color: @blue;
}

.section-green {
  background-color: @green;
}

.section-light-blue {
  background-color: @light-blue;
}

.section-orange {
  background-color: @orange;
}

.section-purple {
  background-color: @purple;
}

.section-red {
  background-color: @red;
}

.section-yellow {
  background-color: @yellow;
}


.large-text {
  font-weight:100;
  font-size:3vh;
  text-align: justify;
}

.section-img {
  margin:50px;
}
.section-text {
  vertical-align: middle;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cmn-graphic {
  margin:20px auto;
  width:100%;
}

.hospital-logo {
  max-width: 100%;
  background: white;
}


@media(max-width:768px) {
  .navbar-links {
    margin:10px auto;
    text-align: justify;
    display: table;
  }

  .navbar-links li {
    padding:0;
    display: table-cell;
  }
}
