.sponsors {
  text-align: center;
  min-height:430px;
}

.sponsors h1 {
  color:black;
}

.sponsor-logos, .sponsor-buttons {
  display: inline-block;
  margin:0 auto;
  max-width: 800px;
}

.sponsor-logo {
  margin:70px 0;
  max-width:210px;
}

.sf-examiner {
  margin:80px 20px;
}

.sponsor-button {
  width: 320px;
  border: 2px solid black;
  margin: 0 32px 20px 32px;
}
